body{
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url(./background.jpg);
    background-size: cover;
}

.keys{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
    min-height:40vh;
    padding: 20px;
}

.key{
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4px;
    border: 2.5px solid rgb(44, 44, 44);
    transition: all 0.07s;
    background: transparent;
    backdrop-filter: blur(5px);
}

.playing{
    transform: scale(1.1);
    border: 2.5px solid rgb(245, 242, 67);
    box-shadow: rgba(245, 242, 67, 0.25) 0px 14px 28px, rgba(245, 242, 67, 0.22) 0px 10px 10px;
}

kbd{
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
}

.sound{
    font-size: 0.7rem;
    color: white;
    font-weight: 500;
}